VSCode requirements for a Python project, including libraries for data manipulation, machine learning, and visualization.
Python>=3.8.0
pandas>=1.3.0
numpy>=1.21.0
scikit-learn>=1.0.0
nltk>=3.6.0
matplotlib>=3.4.0
seaborn>=0.11.0
Ram>=8GB
Storage >= 500GB


Dataset : https://www.kaggle.com/datasets/uciml/sms-spam-collection-dataset?resource=download

Dataset : https://www.kaggle.com/datasets/wcukierski/enron-email-dataset